@tailwind base;
@tailwind components;
@tailwind utilities;

.background-color {
	/* background-color: #FCF9F6; */
}
:root{
	/* background-color: #FCF9F6; */
}

::-webkit-scrollbar {
	width: 5px;
	height: 4px;
	}
	
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 12px;
	}